*.o
*.lo
*.la
*.so
.deps
.libs
.dirstamp
Makefile
Makefile.in
aclocal.m4
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
compile
install-sh
libtool
ltmain.sh
missing
stamp-h1
autom4te.cache

src/builtin.h
src/pacrunner
src/pacrunner.service
libproxy/libproxy-1.0.pc
tools/proxy
tools/manual-proxy-test
unit/test-mozjs
unit/test-pacrunner
unit/suite/*.xml
